@use "./abstracts/" as *;

/* ---- FOR DISPLAY ONLY ---- */
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
/* ---- FOR DISPLAY ONLY ---- */

a {
  width: fit-content;
  text-decoration: none;
  color: var(--clr-neutral-100);
}

.nft {
  flex-direction: column;
  gap: 1em;

  margin-inline: auto;
  padding: 2em;

  width: min(90%, 22em);

  font-size: clamp(var(--fs-100), 8vw - 1rem, var(--fs-500));
  font-weight: var(--fw-light);
  background-color: var(--clr-neutral-400);
  border-radius: 1em;
  box-shadow: 0 10px 10px 15px hsl(217 54% 5% / 0.2);

  &--image {
    position: relative;

    img {
      aspect-ratio: 1;

      border-radius: 0.5em;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: hsl(var(--hsl-clr-secondary) / 0.5);
      border-radius: 0.5em;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &::after {
      content: url(./../assets/images/icon-view.svg);
      position: absolute;
      top: calc(50% - 24px);
      left: calc(50% - 24px);

      width: 48px;
      aspect-ratio: 1;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &:hover::before,
    &:focus-visible::before,
    &:hover::after,
    &:focus-visible::after {
      opacity: 1;
    }
  }

  &--headline {
    margin-block-start: 0.5em;

    width: fit-content;

    font-size: clamp(var(--fs-100), 10vw - 1rem, var(--fs-800));
    font-weight: var(--fw-semibold);
    color: var(--clr-neutral-100);

    &:hover {
      color: var(--clr-secondary);
    }
  }

  &--text {
    line-height: 1.5em;
  }

  &--info-wrapper {
    justify-content: space-between;

    padding-block-end: 1em;
    border-bottom: 1px solid var(--clr-neutral-200);

    .eth {
      position: relative;

      padding-inline-start: 1em;

      color: var(--clr-secondary);
      font-weight: var(--fw-semibold);

      &::before {
        content: "";
        position: absolute;
        top: 0.16666666666666666em;
        left: 0;

        width: 0.6111111111111112em;
        height: 1em;

        background-image: url(./../assets/images/icon-ethereum.svg);
        background-size: cover;
      }
    }

    .time-left {
      position: relative;

      padding-inline-start: 1.2em;

      font-weight: var(--fw-regular);

      &::before {
        content: "";
        position: absolute;
        top: 0.16666666666666666em;
        left: 0;

        width: max(0.6em, 0.9444444444444444em);
        aspect-ratio: 1;

        background-image: url(./../assets/images/icon-clock.svg);
        background-size: cover;
      }
    }
  }

  &--author-container {
    .author-pic {
      height: 2em;
      aspect-ratio: 1;

      border: 2px solid var(--clr-neutral-100);
      border-radius: 50%;
    }

    p {
      align-self: center;
      margin-inline-start: 1em;

      .author {
        &:hover {
          color: var(--clr-secondary);
        }
      }
    }
  }
}
